<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset = "UTF-8">
  <title>Formulario</title>
</head>
<body>
	PROCESSOS: <br>
	<% if (dados.length !== 0) { %>
		<% dados.forEach(function(data, index) { %>
			<a href="/processo?id=<%= data.id %>"> 
			<%= data.id %> - <%= data.name %>
			</a><br>
		<% }); %>
	<% } %>
</body>
