/* Variables */
:root {
    /* COLOR */
    --bg-primary-color: #292A2D;
    --bg-secondary-color: #333333;
    --bg-tertiary-color: #58595B;

    --font-primary-color: #fff;
    --font-secondary-color: #54C5CD;
    --font-tertiary-color: #58595B;

    --alert-red-color: #FF261B;
    --alert-yellow-color: #FBFB38;
    --alert-green-color: #10CD00;
    --alert-gray-color: #B4B4B4;

    /* FONT */
    --size-fonte: 16px;
    
}

* {
    box-sizing: border-box;
    
}

.card{
    height: 210px;
    width: 360px;
    border: 1px solid var(--bg-tertiary-color);
    background-color: var(--bg-secondary-color);
    opacity: 0.8;
    border-radius: 1rem;
    margin: 0 1rem 1rem 1rem;
    padding: 1rem;
    
}


.card-header{
    margin: 0 0 1rem 0;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.process-name{
    display: flex;
    align-items: center;
}

.process-status{
    border-radius: 8px;
    padding: 0.5rem 1rem;
    background-color: var(--alert-red-color);
}

.card_subtitle{
    margin: 0 0 3rem 0;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    font-size: 0.7rem;
    padding: 0;
    font-weight: lighter;
    font-style: italic;
}

.process-date{

}

.process-date::before{
    width: auto;
    height: auto;
    content: '';
    /* display: inline-block; */
    padding: 0 0 0 1rem;
    margin-right: 0.5rem; 
    align-content: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/icons/icon_calendar.png);
}
.process-hour{
    
}
.process-hour::before{
    width: auto;
    height: auto;
    content: '';
    /* display: inline-block; */
    padding: 0 0 0 1rem;
    margin-right: 0.5rem;
    margin-left: 2rem; 
    align-content: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/icons/icon_hour.png);
}

.card_body{
    position: relative;
}

.card_bargraph{
    display: flex;
    flex-direction: row;
    margin: 0.2rem 0rem 1rem 0;
    height: 0.65rem;
}

.card_percent{
    position: absolute;
    left: 16rem;
    top: -1rem;
    font-weight: bold;
    font-size: 0.7rem;
}


.bargraph-item1{    
    border-radius: 12px;
    border: 1px solid var(--bg-primary-color);
    width: 30%;
    background-color: var(--alert-red-color);
}


.bargraph-item2{
    
    border-radius: 12px;
    border: 1px solid var(--bg-primary-color);
    width: 20%;
    background-color: var(--alert-red-color);
}

.bargraph-item3{
    
    border-radius: 12px;
    border: 1px solid var(--bg-primary-color);
    width: 50%;
    background: linear-gradient(90deg,var(--alert-red-color) 64%, var(--bg-primary-color) 64%);
}


.card_footer{
    margin: 0 0 1rem 0;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.card_footer>button{
    padding: 1rem;
}




.card_footer>button{

    align-items: center;
    background-color: initial;
    background-image: linear-gradient(var(--bg-primary-color), var(--bg-primary-color));
    border-radius: 16px;
    border-width: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
    
    color: var(--font-primary-color);
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    
    width: 2rem;
    height: 3rem;
    justify-content: center;
    line-height: 2;
    margin: 0;
    padding: 1rem 3rem;
    outline: none;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all 150ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.card_footer>button:hover{
  color: var(--font-secondary-color);
  opacity: .9;
}

.card_footer>button:active{
  outline: 0;
  box-shadow: var(--font-secondary-color)  0 0 0 1px;
}
